{% extends "base.html" %}

{% block title %}{{ snippet.title }}{% endblock %}

{% block content %}
<h1>{{ snippet.title }}</h1>

{% if snippet.location %}
<p>
    <strong>Où utiliser :</strong> {{ snippet.location }}
</p>
{% endif %}

<div class="position-relative">
    <button
        class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 m-2"
        onclick="copySnippet()"
        id="copy-btn"
    >
        Copier
    </button>

    <pre class="bg-light p-3"><code id="snippet-code">{{ snippet.code }}</code></pre>
</div>

{% if snippet.description %}
<div class="mt-3">
    <h5>Explications</h5>
    <p>{{ snippet.description|linebreaks }}</p>
</div>
{% endif %}

<p>
    Created at : {{ snippet.created_at }}
    {% if snippet.order %} / Order : {{ snippet.order }} {% endif %}
</p>
{% if request.user.is_superuser %}
    <a class="btn btn-secondary" href="{% url 'snippet_update' snippet.slug %}" class="btn btn-warning mt-3">
        Modifier
    </a>

    <a class="btn btn-danger" href="{% url 'snippet_delete' snippet.slug %}" class="btn btn-danger mt-3">
        Supprimer
    </a>
{% endif %}
<a class="btn btn-secondary" href="{% url 'snippet_list' %}" class="btn btn-secondary mt-3">
    Retour
</a>
{% endblock %}

{% block extra_js %}
<script>
function copySnippet() {
    const code = document.getElementById("snippet-code").innerText;
    navigator.clipboard.writeText(code).then(() => {
        const btn = document.getElementById("copy-btn");
        btn.innerText = "Copié !";
        setTimeout(() => btn.innerText = "Copier", 1500);
    });
}
</script>
{% endblock %}
